.container_change{
    border-radius: 25px;
    box-shadow: 0 5px 15px rgb(199 236 209);
    width: 500px;
    height: auto;
    margin-top: 77px;
    margin-left: 551px;
    padding: 5px 5px;
}
.container_change h2{
    margin: 20px 20px;
}
.container_change input[type="password"]{
    margin-left: 79px;
    width: 324px;
    padding: 12px 23px;
    border: 1px solid rgb(238, 232, 232);
}
.container_change label{
    margin-left: 78px;
}
.container_change input[type="submit"]{
    margin-left: 79px;
    margin-bottom: 77px;
    width: 324px;
    padding: 12px 23px;
    border: 1px solid rgb(238, 232, 232);
    transition: all 0.6s;
    font-weight: 600;
}
.container_change input[type="submit"]:hover{
    background: rgb(90, 250, 104);
    transition: all 0.6s;
}
.container_change a{
    position: absolute;
    margin-top: 61px;
    margin-left: 418px;
}
.container_change p{
    color: rgb(245, 0, 0);
    margin-left: 78px;
}